body {
    background-color: rgb(235, 217, 251);
}

.header_main {
    position: sticky;
    top: 0;
}
.top_header {
    background-color: rgb(144, 16, 191);
    width: 99.7%;
    margin: 0 auto;
    height: 80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.logo_1 a {
    text-decoration: none;
}
.logo {
    font-size:40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* font-family: 'Stick No Bills', sans-serif; */
}
.logo b { 
    display: inline;
    color: rgb(164, 255, 150);
}
.logo div {
    color: rgb(255, 255, 255);
}


.header_right {
    display: flex;
}

.user_text{
    color: azure;
    font-size: 20px;
    padding-right: 10px;
}
.user_text a {
    color: rgb(164, 255, 150);
}
.exitU {
    color: azure;
    font-size: 20px;
    border-left: 2px solid rgb(255, 255, 255);
    padding-left: 10px;
}

.exitU a {
    color: azure;
}

.entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.entry img {
    width: 50px;
}

.entry div {
    color: azure;
    text-decoration: azure;
}
.entry a {
    text-decoration: none;
}


.header a {
    text-decoration: none;
}

.bottom_header {
    background-color: rgb(207, 137, 232);
    width: 95%;
    margin: 0 auto;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    justify-content: space-around;

}
.bottom_header a {
    font-size: 23px;
    /* color: rgb(87, 255, 61); */
    color: rgb(0, 0, 0);

}