{% load static %}
<div class="header_main">
  <div class="top_header">
    <div class="logo_1">
      <a class="logo" href="{% url 'index' %}"><div>Grade<b>Tracking</b></div></a>
    </div>
    <div class="header_right">
        {% if request.user.is_authenticated %}
            <div class='user_text'>Добро пожаловать, <a href="{% url 'account' %}">{{ user.first_name }}</a></div>
            <div class="exitU"><a href="{% url 'logout' %}">Выйти</a></div>
        {% else %}
          <div class="entry">
            <a href="{% url 'login' %}" class="entry">
              <img src={% static 'report/img/entry.png' %} alt="">
              <div>Вход/Регистрация</div>
            </a>
          </div>
        {% endif %}
    </div>
  </div>
  {% if user.role == 'Студент' %}
    <div class="bottom_header">
      <a href="{% url 'user_courses' %}">Ваши курсы</a>
    </div>
  {% endif %}
  {% if user.role == 'Преподаватель' %}
  <div class="bottom_header">
    <a href="{% url 'teacher_courses' %}">Преподаваемые курсы</a>
  </div>
  {% endif %}
</div>


